@import '../../../../styles/variables.scss';

.chats-sendMessege-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $primary_color;
    border-top: 1px solid $secondary_color;

    .chats-sendMessege-input{
        width: 50%;
        height: 30px;
    }

    .chats-sendMessege-btn{
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
}

.chat-sendMessage-form_hide{
    display: none;
}
