@import '../../styles/variables.scss';
.auth-page {
    .auth-form {
        width: 340px;
        height: 373px;
        background-color: $primary_color;
        border-right: 2px solid $secondary_color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .auth-title {
            margin: 50px;
            font-family: Pro;
            font-weight: 100;
            color: $primary_text;
            font-size: 25px;
        }
        .auth_login {
            width: 280px;
            height: 30px;
            margin-bottom: 20px;
        }
        .auth_password {
            width: 280px;
            height: 30px;
            margin-bottom: 50px;
        }
        .auth-button {
            width: 280px;
            height: 40px;
        }
        .auth-reg {
            margin-top: 30px;
        }
    }
}
