@import '../../styles/variables.scss';
.chat{
    color: $primary_text;
    font-family: Pro;
    .chat-info{
        width: 100%;
        height: 50px;
        background: $primary_color;
        border-bottom: 2px solid $secondary_color;
        display: flex;
        align-items: center;
        .chat-img{
            width: 34px;
            height: 34px;
            margin-left: 15px;
            margin-right: 10px;
            border-radius: 100%;
            background-color: $secondary_btn;
        }
        .chat-name{
            font-size: 14px;
        }
        .chat-more{
            margin-left: auto;
            font-size: 20px;
            rotate: 90deg;
            letter-spacing: -5px;
        }
    }
    .chat-messages{
        height: calc(100vh - 100px);
        padding: 20px;
        .messages{
            width: 400px;
            height: auto;
            padding: 10px;
            font-size: 15px;
            color: $primary_text;
            background-color: $primary_color;
            border-radius: 0 10px 10px 10px;
        }
    }
    .chat-send{
        height: 50px;
        background-color: $primary_color;
        border-top: 2px solid $secondary_color;
        display: flex;
        align-items: center;
        .chat-files{
            margin: 10px;
        }
        .chat-message{
            width: 70vw;
            height: 30px;
        }
        .chat-button{
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border-radius: 100%;
            letter-spacing: -6px;
        }
    }
}
