@import '../../styles/variables.scss';

.input_main{
    color: $primary_text;
    font-family: Pro;
    text-indent: 2px;
    background: none;
    border: none;
    border-bottom: 1px solid $secondary_color;

    &::placeholder{
        color: $primary_text;
        font-size: 14px;
    }
}
