@import '../../styles/variables.scss';

.input_main{
    background: none;
    border: none;
    border-bottom: 1px solid $secondary_color;
    text-indent: 2px;
    color: $primary_text;
    font-family: 'Pro';

    &::placeholder{
        font-size: 14px;
        color: $primary_text;
    }
}
