@import './variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #171717;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@font-face {
    font-family: Pro;
    src: url('../assets/fonts/AnonymousPro-Regular.ttf');

}
input:focus{
    outline: none;
}
.tooltip{
    width: 200px;
    height: 30px;
    background: $secondary_color;
    border-radius: 0 5px 5px 5px;
    color: $primary_text;
    font-size: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
