@import '../../styles/variables.scss';
.navigation_bar{
    width: 900px;
    height: 40px;
    background-color: $primary_color;
    display: flex;
    .nav-link{
        flex-grow: 1;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        color: $primary_text;
        &:hover{
            background: $secondary_color;
        }
    }
}
