@import '../../styles/variables.scss';

.signIn-page {
    .signIn-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        height: 373px;
        font-weight: 100;
        font-family: Pro;
        background-color: $primary_color;
        border-right: 2px solid $secondary_color;
        border-radius: 10px;

        .signIn-title {
            margin: 50px;
            color: $primary_text;
            font-size: 25px;
        }

        .signIn_login, .signIn_password {
            width: 280px;
            height: 30px;
            margin-bottom: 20px;
        }

        #signin_error{
            width: 280px;
            height: 10px;
            margin-bottom: 40px;
            color: $secondary_btn;
            font-size: 12px;
        }

        .signIn-button {
            width: 280px;
            height: 40px;
            margin-bottom: 20px;
        }
    }
}
