@import '../../../../styles/variables.scss';

.messeges{
    top: 50px;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: scroll;

    .messeges-message{
        max-width: 400px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px;
        color: $primary_text;
        font-size: 12px;
        font-family: Pro;
        background-color: $primary_color;
        border-radius: 10px;
    }
}
