@import '../../styles/variables.scss';

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 270px;
    color: $primary_text;
    font-family: Pro;
    background-color: $primary_color;
    border-right: 2px solid $secondary_color;
    border-bottom: 2px solid $secondary_color;
    border-radius: 10px;

    .error-title{
        margin-top: 55px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .error-text{
        font-size: 20px;
    }

    .error-btn{
        width: 260px;
        height: 40px;
        margin-top: 50px;
    }
}
