@import '../../../../styles/variables.scss';

.chats-navigation{
    width: 200px;
    height: 100vh;
    background-color: $primary_color;
    border-right: 1px solid $secondary_color;

    .navigation-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 17vh;
        border-bottom: 1px solid $secondary_color;

        .navigation-profile-avatar{
            width: 40px;
            height: 40px;
            margin-top: 10px;
            border-radius: 100%;
        }

        .navigation-profile-name{
            margin: 10px 0;
            color: $primary_text;
            font-weight: bold;
            font-size: 18px;
            font-family: Pro;
        }

        .navigation-profile-btn{
            width: 100%;
            height: 40px;

            &:hover{
                background-color: $secondary_color;
            }
        }
    }

    .navigation-chatlist{
        display: flex;
        flex-direction: column;
        height: 78vh;
        overflow: hidden;

        .navigation-chatlist-item{
            display: flex;
            align-items: center;
            height: 50px;

            &:hover{
                background: $secondary_color;
                cursor: pointer;
            }

            .navigation-chatlist-img{
                width: 40px;
                height: 40px;
                margin: 5px;
                border-radius: 100%;
            }

            .navigation-chatlist-info{
                width: 110px;
                height: 40px;
                overflow-y: hidden;
                color: $primary_text;
                font-family: Pro;
                text-indent: 2px;

                .navigation-chatlist-name{
                    width: 100%;
                    height: 20px;
                    font-weight: bold;
                }

                .navigation-chatlist-last{
                    height: 20px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    .navigation-newChat-btn{
        width: 100%;
        height: 5vh;

        &:hover{
            background: $secondary_color;
        }
    }

    .navigation-newChat-layout{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.408);

        .navigation-newChat-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: auto;
            padding: 50px 0;
            background-color: $primary_color;
        }

        .navigation-newChat-title{
            margin-bottom: 50px;
            color: $primary_text;
            font-weight: bold;
            font-size: 26px;
            font-family: Pro;
        }

        .navigation-newChat-input{
            width: 200px;
            height: 40px;
        }

        .navigation-newChat-send{
            width: 200px;
            height: 40px;
            margin: 50px 0 20px;
        }
    }
}
