@import '../../styles/variables.scss';
.signUp-page{
    .signUp-form{
        width: 340px;
        height: 588px;
        background: $primary_color;
        border-right: 2px solid $secondary_color;
        border-bottom: 2px solid $secondary_color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .signUp-title{
            margin: 50px 0 30px 0;
            font-size: 25px;
            color: $primary_text;
            font-weight: 100;
            font-family: Pro;
        }
        .signUp-inputs{
            height: 335px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .signUp-input{
                width: 287px;
                height: 30px;
            }
        }
        .signUp-btn{
            width: 280px;
            height: 40px;
            margin: 20px 0 30px 0;
        }
    }    
}
