@import url("../../../../styles/variables.scss");

.chat-header{
    width: 100%;
    height: 50px;
    background-color: $primary_color;
    border-bottom: 1px solid $secondary_color;
    display: flex;
    align-items: center;

    .chat-header-avatar{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .chat-header-title{
        width: 70%;
        margin-left: 10px;
        font-family: Pro;
        font-weight: bold;
        color: $primary_text;
    }

    .chat-header-btns{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
    }

        .chat-adduser-form{
        position: fixed;
        top: 120px;
        left: calc(100vh - 350px);
        width: 500px;
        height: 300px;
        border: 1px solid white;
        background-color: $primary_color;
        display: flex;
        flex-direction: column;
        align-items: center;

        .chat-adduser-title{
            font-size: 24px;
            color: $primary_text;
            font-weight: bold;
            font-family: Pro;
            margin-top: 40px;
        }

        .chat-adduser-input{
            width: 200px;
            height: 40px;
            margin-top: 50px;
        }

        .chat-adduser-button{
            width: 200px;
            height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.chat-header-userlist{
    width: 200px;
    height: 100vh;
    background: $primary_color;
    border-left: 1px solid $secondary_color;
    position: absolute;
    top: 0;
    right: 0;

    .chat-userlist-title{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        color: $primary_text;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        font-family: Pro;
    }

    .chat-userlist-items{
        height: 600px;

        .chat-userlist-item{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            .chat-userlist-img{
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-left: 5px;
            }

            .chat-userlist-name{
                margin-left: 5px;
                font-size: 20px;
                font-family: pro;
                color: $primary_text;
            }
        }
    }

    .chat-userlist-close{
     width: 100%;
     height: 50px;
     text-align: center;
     line-height: 50px;
     cursor: pointer;

     &:hover{
        background: $secondary_color;
     }   
    }
}
